[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bandit = "*"
black = "*"
isort = "*"
mypy = "*"
pycodestyle = "*"
pydocstyle = "*"
pyflakes = "*"
pylama = "*"
pylama-pylint = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
